<p>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>cake</mat-icon>Full Events</span>
    <div class="spacer"></div>
    <a mat-button routerLink="">Events</a>
    <a mat-button *ngIf="userRole == '0'" (click)="openCreateEventDialog('70ms', '70ms')">New event</a>
    <a mat-button *ngIf="userRole == '1'" routerLink="myevents">My events</a>
    <a mat-button *ngIf="isLoggedIn">{{userName}}</a>
    <a mat-raised-button *ngIf="!isLoggedIn" routerLink="login" color="accent">Log in</a>
    <a mat-raised-button *ngIf="isLoggedIn" (click)="logout()" color="accent">Log out</a>
  </mat-toolbar>
</p>