<h1 mat-dialog-title>New Event</h1>
<div mat-dialog-content>
  <br>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput placeholder="Placeholder" required>
      <mat-hint>The title of the event</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input type="text" matInput placeholder="Placeholder" required>
      <mat-hint>What is the event about?</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input type="text" matInput placeholder="Placeholder" required>
      <mat-hint>Where will the event take place?</mat-hint>
    </mat-form-field>
  </p>
  <br>
  <p>
    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Finish date</mat-label>
      <input matInput [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input type="text" matInput placeholder="Placeholder" required>
      <mat-hint>What time will the event start?</mat-hint>
    </mat-form-field>
  </p>
  <br>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Minimum age</mat-label>
      <input type="number" matInput placeholder="Placeholder" required>
      <mat-hint>Minimum age to sign up</mat-hint>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button mat-dialog-close color="primary">Create</button>
</div>