<mat-card class="card">
  <mat-card-header class="title">
    <mat-card-title>
      <h1>{{event.title}}</h1>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/event.jpg" alt="">
  <br>
  <mat-card-content>
    <p>
      {{event.description}}
    </p>
    <div class="options">
      <button mat-raised-button *ngIf="role == '1' && view == 'events'" (click)="register()" color="primary">REGISTER!</button>
      <button mat-raised-button *ngIf="role == '1' && view == 'my events'" color="warn" (click)="openCancelRegistrationDialog('70ms', '70ms')">
        CANCEL REGISTRATION
      </button>
      <button mat-raised-button color="accent" (click)="eventInfo(event.id)">SEE MORE</button>
      <button mat-raised-button *ngIf="role == '0'" color="green"
        (click)="openEditEventDialog('70ms', '70ms')">EDIT</button>
    </div>
  </mat-card-content>
</mat-card>