<mat-card class="card">
    <mat-card-header class="title">
      <mat-card-title>
        <h1>UN EVENTO</h1>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/event.jpg" alt="">
    <br>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolor at, esse quasi sunt illum voluptatum
        ratione omnis explicabo blanditiis, consequuntur eos quidem ipsum reprehenderit accusamus ipsam animi vitae
        fugiat.
      </p>
      <p>Location:</p>
      <p>Time:</p>
      <p>Date:</p>
      <p>Minimum age:</p>
    </mat-card-content>
  </mat-card>